.addAgift__form{  
    align-items: center;
    margin: 5px;
}

.addAgift__div{
    margin: 5px;
}


.addAgift__input{
    align-items: left;
    width:70vw;
    display: flex;
}

.addAgift__label{
    justify-content: flex-end;
    margin-right: 5px;
    font-weight: 600;
}

