.alert {
    padding: 20px;
    background-color:lightseagreen;
    color: white;
  }
  
  .closebtn {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: blue;
  }
