.deletegift_form{
    align-items: center;
    justify-content: center;
}

.deleteItemSearchBox_label{
    margin:auto;
    width: 80vw;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.deleteItemSearchBox_label > input {
    width: 60vw;
    margin-left:10px;
    margin-right: 10px; 
}

